<!doctype html>
<html>
  <head>
    <title>Devices</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='devices.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
  </head>
  <body>
    <h1>Devices</h1>
    <div class="grid-container">
      {% for device in devices %}
        {% if device[3] == 'True' %}
          <div class="grid-item status-true">
        {% else %}
          <div class="grid-item status-false">
        {% endif %}
            <h2>{{ device[1] }}</h2>
            <p>EUI: {{ device[0] }}</p>
            <p>{{ device[2] }}</p>
            <p></p>
            <button class="stop-button" data-device-id="{{ device[0] }}"><i class="fa-solid fa-power-off"></i> Turn ON</button>
            <button class="reset-button" data-device-id="{{ device[0] }}"><i class="fa-solid fa-refresh"></i> Reboot</button>
            <button class="trend-button" data-device-id="{{ device[0] }}"><i class="fa-solid fa-chart-line"></i> Trend</button>
        </div>
      {% endfor %}

    <script>
      const stopButtons = document.querySelectorAll('.stop-button');
      const restartButtons = document.querySelectorAll('.reset-button');
      const trendButtons = document.querySelectorAll('.trend-button');

      // Attach click event listeners to all stop buttons
      stopButtons.forEach(button => {
        button.addEventListener('click', () => {
          const deviceId = button.dataset.deviceId;
          fetch(`/devices/${deviceId}/start`)
            .then(response => {
              if (!response.ok) {
                throw new Error('Error starting device');
              }else{
                  alert("Start message successfully sent to device");
              }
              console.log(response.text());
            })
            .catch(error => console.error(error));
        });
      });

      // Attach click event listeners to all restart buttons
      restartButtons.forEach(button => {
        button.addEventListener('click', () => {
          const deviceId = button.dataset.deviceId;
          fetch(`/devices/${deviceId}/restart`)
            .then(response => {
              if (!response.ok) {
                throw new Error('Error restarting device');
              }else{
                  alert("Restart message successfully sent to device");
              }
              console.log(response.text());
            })
            .catch(error => console.error(error));
        });
      });

      // Attach click event listeners to all trend buttons
      trendButtons.forEach(button => {
        button.addEventListener('click', () => {
          const deviceId = button.dataset.deviceId;

          location.href = "/devices/" + deviceId + "/trend";
        });
      });
    </script>
    </div>

    <div class="float-button">
      <i class="fa-solid fa-plus-circle"> </i>
      <a href="/devices/new?user_id={{ user_id }}&group_id={{ group_id }}"> New Device</a>
    </div>
  </body>