<!doctype html>
<html>
  <head>
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='groups.css') }}">
  </head>
  <body>
    <h1>Groups</h1>
    <div class="grid-container">
      {% for group in groups %}
      <div class="grid-item" onclick="location.href='/devices?id={{ group[0] }}'">
        <h2>{{ group[1] }}</h2>
        <p>ID: {{ group[0] }}</p>
        <p>{{ group[2] }}</p>
        <p>Click to see devices</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
